@page
@model WebChamados.Pages.CadastrarModel
@{
}


<form asp-page="/Cadastrar" method="post">
    <h1>Cadastrar Colaborador</h1>
    <div class="mb-3">
        <label asp-for="Nome"  class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control">
        <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    <div class="mb-3">
        <label asp-for="Usuario" class="form-label">Usuário</label>
        <input asp-for="Usuario" class="form-control">
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Senha" class="form-label">Senha</label>
        <input asp-for="Senha" class="form-control">
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>


