@page
@model WebChamados.Pages.editarModel
@{
}


<body bground: #E3FBE3>

    <form asp-page="/editar" method="post">
        <h2>Editar Chamados</h2>
        <input type="hidden" asp-for="IdChamados" />
        <select class="form-control" asp-for="Usuario">
            <option value="wallace.paula">wallace.paula</option>>
            <option value="keller.">fideles</option>>
        </select>
        <select class="form-control" name="Filial">
            @for (var i = 1; i <= 71; i++)
            {
                <option>Loja @(i)</option>
            }
        </select>

        <div class="input-group mb-3">
            <span asp-validation-for="IdChamados" class="input-group-text">IdChamados</span>
            <input asp-for="IdChamados" class="form-control" placeholder="IdChamados" aria-label="IdChamados">

            <span asp-validation-for="Pdv" class="input-group-text">PDV</span>
            <input asp-for="Pdv" class="form-control" aria-label="Numero PDV">

            <input asp-for="Defeito" class="form-control" placeholder="Defeito" aria-label="Defeito">
        </div>

        <div class="input-group">
            <span asp-validation-for="Descricao" class="input-group-text">Descrição</span>
            <textarea asp-for="Descricao" class="form-control" aria-label="Descrição"></textarea>
        </div>



        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</body>
